# Editor Config
.vscode/
.npm/
.config/

# Secrets/Config
.env
config.js

# Replit
.replit
replit.nix

# ESLint
.eslintrc.json 

# Modules
node_modules/

# Lockfiles
package-lock.json
yarn.lock

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# database
database.sqlite
